.postcard{
  width: 300px;
}
.postcard img{
  width: 100%;
}
.list{
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  margin: 0 auto;

}
.user-card{
  width: 350px;
  background-color: aquamarine;
  text-align: center;
  padding: 16px;
  border-radius: 16px;
  margin-top: 80px;
  color: black;

}
.user-card img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.user-card .location{
  width: 20px;
  height: auto;
}